@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');


:root{
   
   --Dark-cyan: hsl(158, 36%, 37%);
   --Cream: hsl(32, 78%, 93%);
   --Very-dark-blue: hsl(212, 21%, 14%);
   --Dark-grayish-blue: hsl(228, 12%, 48%);
   --White: hsl(0, 0%, 100%);
   
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--Cream);
    padding: 10em;
    font-family: 'Montserrat', sans-serif;
}

.hero{
    margin: 0 auto;
    background:var(--White) ;
    border-radius: 10px;
}

.hero__container{
    display: flex;
}

.hero__container>*{
    flex-basis: 1;
}

.hero__picture{
    width: 100%;
    
}

.hero__image{
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;

}

.hero__texts__container{
    display: flex;
}

.hero__texts{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    padding: 2em;
}

.hero__title{
    font-family: 'Fraunces', serif;
    color: var(--Dark-grayish-blue);
}

.hero__paragraph{
    font-size: 18px;
    color: var(--Dark-grayish-blue); 
    line-height: 1.5;
}

.hero__subtitle{
    font-weight: 700;
    font-family: 'Fraunces', serif;
    font-size: 60px;
}

.hero__price{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.hero__big{
    color: var(--Dark-cyan);
    font-weight: 700;
    font-family: 'Fraunces', serif;
    font-size: 50px;
}

.hero__cancel{
    color: var(--Dark-grayish-blue);
    text-decoration: line-through;
}

.hero__cta{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 14px;
    
}

.hero__ctaa{
    text-decoration: none;
    background: var(--Dark-cyan);
    display: inline-block;
    color: var(--White);
    border: none;
    font-weight: 700;
    
}

